app/models/ptes/wso.ws.wOrderTests.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="GetList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrSessionKey" type="s:string"/>
                        <s:element minOccurs="0" name="pstrSampleID" type="s:string"/>
                        <s:element minOccurs="0" name="pstrRegisterDate" type="s:string"/>
                        <s:element minOccurs="0" name="pstrrTests" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="GetListResult" type="s0:DataSet"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="DataSet">
                <s:sequence>
                    <s:element ref="s:schema"/>
                    <s:any/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetListAndGroups">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrSessionKey" type="s:string"/>
                        <s:element minOccurs="0" name="pstrSampleID" type="s:string"/>
                        <s:element minOccurs="0" name="pstrRegisterDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetListAndGroupsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="GetListAndGroupsResult" type="s0:DataSet"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetStatus">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrSessionKey" type="s:string"/>
                        <s:element minOccurs="0" name="pstrSampleID" type="s:string"/>
                        <s:element minOccurs="0" name="pstrRegisterDate" type="s:string"/>
                        <s:element minOccurs="0" name="pintTestID" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetStatusResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="GetStatusResult" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTestListByPatientAndDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pstrSessionKey" type="s:string"/>
                        <s:element minOccurs="0" name="pstrPatientID1" type="s:string"/>
                        <s:element minOccurs="0" name="pstrDateFrom" type="s:string"/>
                        <s:element minOccurs="0" name="pstrDateTo" type="s:string"/>
                        <s:element minOccurs="0" name="pintSuperGroup" type="s:long"/>
                        <s:element minOccurs="0" name="pintMinStatus" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTestListByPatientAndDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="GetTestListByPatientAndDateResult" type="s0:ArrayOfOrderDataOrderData"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfOrderDataOrderData">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="OrderData" nillable="true" type="s0:OrderData"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="OrderData">
                <s:sequence>
                    <s:element name="InternalOrderID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="SampleID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="RegisterDate">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="100"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="RegisterHour">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="100"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="RegisterYear">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="100"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="OrderUse" type="s:string"/>
                    <s:element minOccurs="0" name="InternalCommentID" type="s:string"/>
                    <s:element minOccurs="0" name="TextComment">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="32000"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="Status" type="s:long"/>
                    <s:element minOccurs="0" name="Patient" type="s0:Patient"/>
                    <s:element minOccurs="0" name="Demographics" type="s0:ArrayOfDemographicDemographic"/>
                    <s:element minOccurs="0" name="TestsList" type="s0:ArrayOfTestTest"/>
                    <s:element minOccurs="0" name="NewOrderAvailable" type="s:long"/>
                    <s:element name="OrderTS" type="s0:TimeStamping"/>
                    <s:element minOccurs="0" name="ReportPath" type="s:string"/>
                    <s:element minOccurs="0" name="GroupList" type="s0:ArrayOfGroupGroup"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Patient">
                <s:sequence>
                    <s:element name="InternalPatientID" type="s:long"/>
                    <s:element name="PatientID1">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="PatientID2">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="PatientID3">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="FirstName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="80"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="LastName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="80"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="SurNameAndName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="80"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="DateOfBirth" type="s:string"/>
                    <s:element minOccurs="0" name="Sex">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfDemographicDemographic">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Demographic" nillable="true" type="s0:Demographic"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Demographic">
                <s:sequence>
                    <s:element minOccurs="0" name="InternalDemographicID" type="s:long"/>
                    <s:element minOccurs="0" name="DemographicCode" type="s:string"/>
                    <s:element minOccurs="0" name="DemographicName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="12"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="DemographicUse" type="s:string"/>
                    <s:element minOccurs="0" name="Mandatory" type="s:long"/>
                    <s:element minOccurs="0" name="DisplayOrder" type="s:long"/>
                    <s:element minOccurs="0" name="DemographicType" type="s:long"/>
                    <s:element minOccurs="0" name="DemographicCurrentValue">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="255"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="DemographicCurrentCode" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfTestTest">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Test" nillable="true" type="s0:Test"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Test">
                <s:sequence>
                    <s:element name="TestID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="TestAbbreviation">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="8"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="TestName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="50"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="SpecimenID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="SpecimenName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="HasComment" type="s:boolean"/>
                    <s:element minOccurs="0" name="CommentList" type="s0:ArrayOfCommentComment"/>
                    <s:element minOccurs="0" name="PanicLow" type="s:decimal"/>
                    <s:element minOccurs="0" name="Low" type="s:decimal"/>
                    <s:element minOccurs="0" name="High" type="s:decimal"/>
                    <s:element minOccurs="0" name="PanicHigh" type="s:decimal"/>
                    <s:element minOccurs="0" name="ValueResult">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="11"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="ValueResultDate" type="s:date"/>
                    <s:element minOccurs="0" name="ValueResultHour" type="s:time"/>
                    <s:element minOccurs="0" name="ResultID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="11"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="Alarms">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="125"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="PrimaryUnit" type="s:string"/>
                    <s:element minOccurs="0" name="HasResult" type="s:boolean"/>
                    <s:element minOccurs="0" name="RegisterDate" type="s:date"/>
                    <s:element minOccurs="0" name="ValStatus" type="s:long"/>
                    <s:element minOccurs="0" name="ValDate" type="s:date"/>
                    <s:element minOccurs="0" name="ValHour" type="s:time"/>
                    <s:element minOccurs="0" name="ValUser">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="16"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="AutomaticTecnicVal" type="s:long"/>
                    <s:element minOccurs="0" name="ClinicStatus" type="s:long"/>
                    <s:element minOccurs="0" name="ClinicDate" type="s:date"/>
                    <s:element minOccurs="0" name="ClinicHour" type="s:time"/>
                    <s:element minOccurs="0" name="ClinicUser">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="16"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="AutomaticClinicVal" type="s:long"/>
                    <s:element minOccurs="0" name="InfStatus" type="s:boolean"/>
                    <s:element minOccurs="0" name="InfDate" type="s:date"/>
                    <s:element minOccurs="0" name="InfHour" type="s:time"/>
                    <s:element minOccurs="0" name="InfUser">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="16"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="HostStatus">
                        <s:simpleType>
                            <s:restriction base="s:long">
                                <s:maxInclusive value="3"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="HostDate" type="s:date"/>
                    <s:element minOccurs="0" name="HostHour" type="s:time"/>
                    <s:element minOccurs="0" name="HostUser">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="16"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="MicroType" type="s:long"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfCommentComment">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Comment" nillable="true" type="s0:Comment"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Comment">
                <s:sequence>
                    <s:element minOccurs="0" name="InternalCommentID" type="s:string"/>
                    <s:element minOccurs="0" name="TextComment">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="32000"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="TimeStamping">
                <s:sequence>
                    <s:element minOccurs="0" name="TSUser">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="250"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="TSDateTime">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="14"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfGroupGroup">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Group" nillable="true" type="s0:Group"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Group">
                <s:sequence>
                    <s:element minOccurs="0" name="TestList" type="s0:ArrayOfTestTest"/>
                    <s:element name="GroupID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="GroupName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="50"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="SuperGroupID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="SuperGroupName">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="50"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="GetListSoapIn">
        <part name="parameters" element="s0:GetList"/>
    </message>
    <message name="GetListSoapOut">
        <part name="parameters" element="s0:GetListResponse"/>
    </message>
    <message name="GetListAndGroupsSoapIn">
        <part name="parameters" element="s0:GetListAndGroups"/>
    </message>
    <message name="GetListAndGroupsSoapOut">
        <part name="parameters" element="s0:GetListAndGroupsResponse"/>
    </message>
    <message name="GetStatusSoapIn">
        <part name="parameters" element="s0:GetStatus"/>
    </message>
    <message name="GetStatusSoapOut">
        <part name="parameters" element="s0:GetStatusResponse"/>
    </message>
    <message name="GetTestListByPatientAndDateSoapIn">
        <part name="parameters" element="s0:GetTestListByPatientAndDate"/>
    </message>
    <message name="GetTestListByPatientAndDateSoapOut">
        <part name="parameters" element="s0:GetTestListByPatientAndDateResponse"/>
    </message>
    <portType name="wOrderTestsSoap">
        <operation name="GetList">
            <input message="s0:GetListSoapIn"/>
            <output message="s0:GetListSoapOut"/>
        </operation>
        <operation name="GetListAndGroups">
            <input message="s0:GetListAndGroupsSoapIn"/>
            <output message="s0:GetListAndGroupsSoapOut"/>
        </operation>
        <operation name="GetStatus">
            <input message="s0:GetStatusSoapIn"/>
            <output message="s0:GetStatusSoapOut"/>
        </operation>
        <operation name="GetTestListByPatientAndDate">
            <input message="s0:GetTestListByPatientAndDateSoapIn"/>
            <output message="s0:GetTestListByPatientAndDateSoapOut"/>
        </operation>
    </portType>
    <binding name="wOrderTestsSoap" type="s0:wOrderTestsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetList">
            <soap:operation soapAction="http://tempuri.org/wso.ws.wOrderTests.GetList" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetListAndGroups">
            <soap:operation soapAction="http://tempuri.org/wso.ws.wOrderTests.GetListAndGroups" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetStatus">
            <soap:operation soapAction="http://tempuri.org/wso.ws.wOrderTests.GetStatus" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetTestListByPatientAndDate">
            <soap:operation soapAction="http://tempuri.org/wso.ws.wOrderTests.GetTestListByPatientAndDate" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wOrderTests">
        <port name="wOrderTestsSoap" binding="s0:wOrderTestsSoap">
            <soap:address location="http://172.16.2.221/csp/acb/wso.ws.wOrderTests.cls"/>
        </port>
    </service>
</definitions>